{{ define "content" }}


<a href="/blog/blog1"><h2>Blog 1</h2></a>

<div id="blog_preview">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet luctus venenatis lectus. Ac turpis egestas sed tempus urna. Mauris in aliquam sem fringilla ut morbi. Nec ultrices dui sapien eget. Suscipit tellus mauris a diam.</p>
</div>

<script src="https://gist.github.com/arman-ashrafian/8af18a8e6b123f7dbf862da7ba773c98.js"></script>


{{ end }}